<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Bobbit</h2>
        <h4>Bobbit is a free data website, we don't own, use or do anything with your data !</h4>
        <h3> If not already... </h3>  
        <%= render "layouts/sign_up" %><%= render "layouts/sign_in" %>
    </div>
  </div>
</section>